body{
    padding: 0;
    margin: 0;
    background-color: #4817A4;
    /* color:#FFFFFF; */
    font-family: "Roboto", system-ui;
    text-decoration: none;
    list-style: none;
    text-align: center;
   
}



.card-title{
    color: #4817A4;
  }

main{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:100px;
    margin-top: 30px;
    flex-direction: column;
}

.text-container{
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.text-container p {
    font-weight:200;
}

.text-container h2{
    font-size: 51px;
}

.card-container{
    height: 450px;
    width: 80%;
    display: flex;
    gap:40px;
    justify-content: center;

}

.card{
    display: flex;
    height: 400px;
    background-color: #fff;
    padding: 10px;
    align-self: center;
    justify-content: center;
    gap:20px;
    border-radius: 10px;
    width: 18%;
    box-shadow: 0 0 15px 5px #915ad4;
}

.img-container{

    height: 200px;
    width: 100%;
    
    overflow: hidden;
}

h3 {
    color:#7922E2;
    font-weight: bold;
}

.img-container img {
    width: 70%;
    height: 95%;
    border-radius: 50%;
    object-fit: cover;
    border:4px solid #7922E2
}
.cards-buttons{
   
    display: flex;
    justify-content: center;
    gap:20px;
    
}

.cards-buttons a{
    width: 100px;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards-buttons a:first-child {
    background-color:#7922E2;
    color:#fff;
  
    font-weight: bold;
}


.button-portfolio{
    background-color: white;
    border: 2px solid #7922E2;
    color:#7922E2;
    font-weight: bold;
 
}

@media (max-width:570px){
    main{
        gap:30px;
    }
    p{
        font-size: 18px;
    }
    .text-container{
        width: 80%;
    }

    .card-container{
        height: auto;
        flex-direction: column;
    }

    .card{
        width: 80%;
    }

    .img-container img {
        width: 80%;
        height: 95%;
        border-radius: 50%;
       
}