body{
    padding: 0;
    margin: 0;
    background-color: #4817A4;
    font-family: "Roboto", system-ui;
    text-decoration: none;
    list-style: none;
    color:#FFFFFF;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  .navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
  }

  .navbar a.active {
    color: #FE7132 !important;
  }

  .text-footer{
    color: #4817A4;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
